
.login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-page-data{
    display: flex;
    border: 1px solid rgba(55, 54, 54, 0.357);
    padding: 60px;
    
}

.social-accounts{
    padding-right: 25px;
    border-right: 1px solid #00000073;
    position: relative;

}
.facebook, .google, .x{
display: flex;
background-color: #517cc0;
padding: 18px;
align-items: center;
font-size: 1.5rem;
color: white;
margin-bottom: 24px;
width:100% ;

}

.facebook-icon, .google-icon, .x-icon{
border-right: 1px solid   #00000073;
border-spacing: 200px;
padding: 0px 10px;
}

.facebook-text, .google-text, .x-text{
margin: 0px 10px;

}
.credentials{
margin-left: 25px;
margin-bottom: 3rem;

}

.credentials input{
padding: 18px 18px 0px 18px;
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.389);
margin: 20px 0px;
font-size: 1rem;
}
.credentials h2{
text-align: center;
font-size: 2rem;
letter-spacing: 1px;
font-weight: 700;
margin-top: -20px;
}


.form-btn{
margin-left: 25px;
padding: 6px 24px;
font-size: 1.4rem;
background-color: #65b1ff;
border: none;
border-radius: 5px;
color: white;
}

.or{
position: absolute;
border-radius: 100%;
padding: 8px;
border: 1px solid #00000073;
color: #00000073;
left: 17.3rem;
font-size: 1rem;
background-color: white;
}

.register{
padding: 12px 0px;
background-color: rgba(156, 198, 233, 0.401);
border: 1px solid rgba(55, 54, 54, 0.357);
border-top: none;
color: #0a72db;
font-weight: 600;
text-align: center;
width: 46%;
}

@media screen and (max-width:480px) {
 
    .login-page-data{
        display: flex;
        border: 1px solid rgba(55, 54, 54, 0.357);
        padding: 60px;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .social-accounts{
        padding-right: 25px;
        border-top: 1px solid #00000073;
        padding-top: 3rem;
        border-right: none;
        position:relative;
    }
    .credentials{
        margin-left: 25px;
        margin-bottom: 3rem;
        
        }
        .or{
            padding: 8px;
            left: 8rem;
            top: -1.2rem;
            }
            .register{
                width:95% ;
            }
}